body{
    text-align: center;
    background-color:#FFFDD0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-size: 24px;
    text-shadow: 0 0 6px black;
    color:black;
}
.board{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-gap: 10px;
    width: 340px;
    margin: 0 auto;
}
.cell{
    width: 100px;
    height: 100px;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.6s;
}
.cell:hover{
    background-color:rgb(189, 157, 115);
}
button{
    display: block;
    margin: 10px auto;
    background-color: lightgreen;
    color:darkcyan;
    padding: 10px 20px;
    border: none;
    cursor:pointer;
    font-size: 18px;
    transition: background-color 0.6s;
}
button:hover{
    background-color: rgb(108, 179, 108);
}
.cell.clicked{
    animation: bubble 0.6s linear;
}
@keyframes bubble {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
